p {
  color: red;  
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh !important;
}

.appMain {
  position: relative;
  top: 3em;
  notflex-grow: 1;
  height: calc(100% - 3rem - 5px);
  display: flex;
}
.appMain > div {
  height: 100%;
  width: 100%;
  display: inline-grid;
  grid-template-rows: 1fr min-content min-content; /*calc(100% - 2.5em);*/
  grid-template-columns: 1fr;
  grid-template-areas: "bodymain" "over-input" "commandOutput" "input";

  /* display: flex; */
  /* flex-direction: column; */
}

.hidden { display: none; }

.appMain > div.SplitTab {
  height: 100%;
  width: 100%;
  display: inline-grid;
  grid-template-rows: 1fr min-content min-content; /*calc(100% - 2.5em);*/
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "bodymain bodyright" "over-input bodyright" "commandOutput bodyright" "input input";

  /* display: flex; */
  /* flex-direction: column; */
}
.tabbedContent {
  height: 100%;
  overflow: hidden;
  grid-area: bodymain;
  /* scroll-snap-type: x mandatory; */
}


.tabbedContentContainer {
  display: grid;
  column-gap: 0px;
  grid-template-columns: repeat(4, 100%);
  grid-template-rows: 100%;
  position: relative;
  z-index: 0;
  height: 100%;
}
.tabbedContentContainer > div {
  /* scroll-snap-align: start; */
  notheight: 100%;
  notwidth: 100vw;
}
.framed { height: 100%; width: 100%; }
iframe { height: 100%; width: 100%; }

.authentication {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scrollable { height: 95%; overflow-y: scroll; margin: 1em; flex-direction: column-reverse; display: flex;}
.inner-scrolled { height: 100%; display: flex; flex-direction: column-reverse; }

.top-scrollable { height: 95%; overflow-y: scroll; }

.chat-overlay {
  padding: 1em;
}

.MutedChat .chat-overlay {
  display: none;
}

.SplitTab .chat-overlay {
  display: none !important;
} 

.FullTab .chat-overlay {
  transition: opacity 1s;
  z-index: 5; 
  position: fixed;
  right: 0;
  width: 40vw;
  background-color: white;
  border-radius: 1em;
  border: 1px solid gray;
  height: 15.7em;
  overflow: hidden;
}

.FullTab .chat-overlay.hide-state-0 {
  display: none;
}
.FullTab .chat-overlay.hide-state-1 {
  opacity: 0;
}

.FullTab .chat-sidebar, .MutedChat .chat-sidebar {
  display: none; 
}

.SplitTab .chat-sidebar {
  grid-area: bodyright;
  border-left: 1px solid gray;
  margin: 0px;
  padding: 1em;
  height: 100% !important;
  width: 100%;
}

.bottomScroller {
  display: flex;
  flex-direction: column-reverse;
}

.bottomwidget {
  grid-area: over-input;
}

.commandOutput {
  grid-area: commandOutput;
  border-top: 1px solid gray;
}
.commandOutput:empty {
  display: none;
}

.chatInput {
  line-height: 2.5;
  grid-area: input;
}

.toptabs {
  height: 3em;
}

.toptabs button {
  width: 10em;
}

.puzContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.item.menuShrink {
  flex: auto !important;
  min-width: 3em;
}
.ui.simple.dropdown.item.menuShrink {
  flex: auto !important;
  min-width: 3em;
}

.whitespace-nowrap {
        white-space: nowrap;
}

.min-w-4 { min-width: 1rem; }

.ellipsisShrink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maxwidth {
  max-width: 80em;
}




span[data-tag="solved"] {
  background-color: lightgreen !important;
}
span[data-tag="in-progress"] {
  background-color: yellow !important;
}
span[data-tag="stalled"] {
  background-color: mediumpurple !important;
}
span[data-tag="extraction"] {
  background-color: skyblue !important;
}
span[data-tag="done"] {
  background-color: mediumseagreen !important;
}

.text-xs {
  font-size: 0.75rem;
}

.text-lg {
  font-size: 2rem;
}

.huntlist-title {
  border-radius: 0.5em;
  background-color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
  font-size: 2rem;
}

.huntlist-button {
  border-radius: 0.5em;
  background-color: #e8e8e8;
  padding: 1em;
  margin: 1em;
}

.huntlist-button-color {
  color: black !important;
}
.voicelink {
  border-radius: 0.5em;
  background-color: #e8e8e8;
  padding: 1em;
}

/* Opinionated HML CSS tweaks patch */

/* General styling */
h1, h2 {
    font-size: revert;
    font-weight: revert;
    padding-bottom: 15px;
}
input {
    border: revert;
    padding: revert;
}
button {
    background-color: revert;
    border: revert;
    padding: revert;
}
select {
    border: revert;
}

/* Master List
 *  - Add commas to solver list
 *
 * selector:
 * .appMain .tabbedContentContainer > :nth-child(1)
 */
.appMain .tabbedContentContainer > :nth-child(1) .puzzletable td:nth-of-type(6) > span:not(:first-of-type)::before {
    content: ', ';
}

/* Config Tab
 *
 * selector:
 * .appMain .tabbedContentContainer > :nth-child(4) .ui.container
 */
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > .ui.vertical.segment {
    border-bottom: 2px solid rgba(34,36,38,.5);
}

/* Basic Information
 *  - add table layout
 *  - restyle Is Meta? checkbox
 *  - margin for Update notification
 *
 * selector: .appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(1)
 */
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(1) .ui.vertical.segment {
    display: table;
}
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(1) .field {
    display: table-row;
}
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(1) .field > * {
    display: table-cell;
    margin: 10px;
}
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(1) .field > :nth-child(1) {
    text-align: right;
    width: 20%;
}
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(1) .field > :nth-child(2) {
    width: 100%;
}

/* Remove Is Meta? checkbox custom styling, and move right*/
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(1) .field:nth-of-type(4) input {
    display: inline;
    left: 140px;
    opacity: 1 !important;
    position: relative;
}
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(1) .field:nth-of-type(4) label {
    display: inline;
}
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(1) .field:nth-of-type(4) label::before {
    display: none;
}
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(1) .field:nth-of-type(4) label::after {
    display: none;
}

/* Spacing for Update alert */
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(1) > button:nth-last-child(1) {
    margin-left: 160px;
    margin-right: 15px;
}

/* Solution(s)
 *  - add margins and borders
 *  - restyle Remove button
 *  - add info about backsolve checkbox
 *
 * selector: 
 * .appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(2)
 */
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(2) pre {
    border-top: 1px solid rgba(34,36,38,.15);
    padding: 10px 0 10px 10px;
}
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(2) pre button {
    background-color: revert;
    border: revert;
    border-radius: revert;
    color: revert;
    font-weight: revert;
    line-height: 1.5;
    padding: revert;
}
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(2) input[type=checkbox] {
    margin: 0 10px;
}
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(2)::after {
    content: 'Check the box for backsolved solutions.';
    display: block;
}

/* Meta(s)
 * - restyle Remove button
 *
 * selector: 
 * .appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(3)
 */
.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(3) .item {
    padding: 10px 0 10px 10px;
}

.appMain .tabbedContentContainer > :nth-child(4) .ui.container > :nth-child(3) .item button {
    background-color: revert;
    border: revert;
    border-radius: revert;
    color: revert;
    font-weight: revert;
    line-height: 1.5;
    padding: revert;
}

dialog {
    border-radius: 1em;
    border: 3px solid darkgray;
    padding: 2em;
}
dialog > * {
    margin: 1em;
}
dialog > h1 {
    border-bottom: 2px solid grey !important;
}
.commandOutput {
    width:100%;
    position: relative !important;
}

textarea {
    border-radius: 0.5em !important;
    border: 1px solid grey !important;
}
